# HAProxy — PostgreSQL 连接代理
#
# 写流量 :5432 → 当前 Patroni Primary
# 读流量 :5433 → Patroni Replica（可选）
# 监控页 :7000 → Stats Dashboard

global
    maxconn 1000

resolvers docker
    nameserver dns1 127.0.0.11:53
    resolve_retries 3
    timeout resolve 1s
    timeout retry 1s
    hold valid 10s

defaults
    mode tcp
    timeout connect 5s
    timeout client 30s
    timeout server 30s

listen pg_write
    bind *:5432
    option httpchk GET /primary
    http-check expect status 200
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
    server patroni-1 patroni-1:5432 maxconn 500 check port 8008 resolvers docker resolve-prefer ipv4
    server patroni-2 patroni-2:5432 maxconn 500 check port 8008 resolvers docker resolve-prefer ipv4

listen pg_read
    bind *:5433
    balance roundrobin
    option httpchk GET /replica
    http-check expect status 200
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
    server patroni-1 patroni-1:5432 maxconn 500 check port 8008 resolvers docker resolve-prefer ipv4
    server patroni-2 patroni-2:5432 maxconn 500 check port 8008 resolvers docker resolve-prefer ipv4

listen stats
    bind *:7000
    mode http
    stats enable
    stats uri /
